<?xml version="1.0" encoding="utf-8"?>
<SETTINGS>
  <COLOR_METHOD>Morey</COLOR_METHOD>
  <IBU_METHOD>Rager</IBU_METHOD>
  <DATA_LOCATION>/home/henri/.brouwhulp/</DATA_LOCATION>
  <BRIXCORRECTION>1.03</BRIXCORRECTION>
  <FWH_FACTOR>10</FWH_FACTOR>
  <PELLET_FACTOR>10</PELLET_FACTOR>
  <PLUG_FACTOR>2</PLUG_FACTOR>
  <GRAIN_ABSORPTION>1.01</GRAIN_ABSORPTION>
  <PLAY_SOUNDS>FALSE</PLAY_SOUNDS>
  <SHOW_SPLASH>FALSE</SHOW_SPLASH>
  <REMOTE_LOC>/home/henri/brouwsels/</REMOTE_LOC>
  <USE_CLOUD>FALSE</USE_CLOUD>
  <CHECK_FOR_NEW_VERSION>TRUE</CHECK_FOR_NEW_VERSION>
  <SG_BITTERNESS>0</SG_BITTERNESS>
  <SG_UNIT>SG</SG_UNIT>
  <PERCENTAGES>FALSE</PERCENTAGES>
  <SCALE_WITH_VOLUME>FALSE</SCALE_WITH_VOLUME>
  <Confirm_SAVE>TRUE</Confirm_SAVE>
  <SHOW_ONLY_IN_STOCK>FALSE</SHOW_ONLY_IN_STOCK>
  <ADJUST_ALFA>FALSE</ADJUST_ALFA>
  <HOP_STORAGE_TEMP>0</HOP_STORAGE_TEMP>
  <HOP_STORAGE_TYPE>0</HOP_STORAGE_TYPE>
  <SHOW_POSSIBLE_WITH_STOCK>FALSE</SHOW_POSSIBLE_WITH_STOCK>
  <STYLE>
    <FONT_SIZE>12</FONT_SIZE>
    <FONT_NAME>default</FONT_NAME>
    <FONT_RED>-1</FONT_RED>
    <FONT_GREEN>-1</FONT_GREEN>
    <FONT_BLUE>-1</FONT_BLUE>
    <FONT_PITCH>fpDefault</FONT_PITCH>
    <FONT_QUALITY>fqDefault</FONT_QUALITY>
    <FONT_STYLE_BOLD>FALSE</FONT_STYLE_BOLD>
    <FONT_STYLE_ITALIC>FALSE</FONT_STYLE_ITALIC>
    <FONT_STYLE_STRIKEOUT>FALSE</FONT_STYLE_STRIKEOUT>
    <FONT_STYLE_UNDERLINE>FALSE</FONT_STYLE_UNDERLINE>
    <CONTROL_RED>-1</CONTROL_RED>
    <CONTROL_GREEN>-1</CONTROL_GREEN>
    <CONTROL_BLUE>-1</CONTROL_BLUE>
    <PANEL_RED>-1</PANEL_RED>
    <PANEL_GREEN>-1</PANEL_GREEN>
    <PANEL_BLUE>-1</PANEL_BLUE>
  </STYLE>
</SETTINGS>
